<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/new">
        <label for="user">User
        <input type="text" id="user" name="user"></label>
        <label for="messageText">Message
        <input type="text" id="messageText" name="messageText"></label>
        <button type="submit" class="submit">Submit</button>
     </form>
       </body>
</html>
